*{
    margin: 0;
    padding: 0;
}

html,
body{
   box-sizing: border-box; 
   height: 100vh;
   
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    width: 90%;
    text-align: center;
    margin-top: 50px;
    /* color: #fff; */
    /* height: inherit; */
}

.add-new,
.filter{
    background-color: teal;
    width: 90%;
    margin: 30px auto;
    padding: 10px 0;
}

.active, .completed{
    background-color: teal;
    width: 90%;
    margin: 30px auto;
    padding: 10px 0;
    height: fit-content;
}

.active .displayTodo,
.completed .completedTodo{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    margin: 10px 20px;
}

.displayTodo li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.add-new input{
    padding: 4px;
    width: 80%;
    outline: none;
}

.filter input{
    padding: 4px;
    width: 90%;
    outline: none;
}

.addBtn{
    background-color: rgb(8, 211, 8);
    color: white;
    padding: 4px;
    outline: none;
    position: relative;
    right: 4px;
}


.otherBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.otherBtn button{
    margin: 0 3px;
    padding: 5px 5px;
}

.completedTodo li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: auto;
    color: white;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#changeTodo{
    margin: 30px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(8, 211, 8);
    color: white;
    border: none;
}

.modal input{
    outline: none;
    padding: 4px;
}